:root{
    --title-font-size: 2rem;
    --text-color: #E9F1F7;
    --subtext-color: #c3cdd4;
    --background-color: #131B23;
    --divider-color: #535353b6;
    --button-color: #bfc1c2;
    --button-text-color: black;
    --button-hover-color: #fdfdfd;
    --content-button-size: 2rem;
    
    --controls-padding: 20px;

    font-family: 'IBM Plex Mono', monospace;

    transition: all .5s;
    font-weight: 450;
}


#category{
    --button-padding: 15px;
    --button-radius: 10px;
    padding-top: var(--controls-padding);
    padding-bottom: var(--controls-padding);
    /* border: 1px solid peru; */
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    & > *{
        font-size: 1.1rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > :nth-child(1){
        border-top-left-radius: var(--button-radius);
        border-bottom-left-radius: var(--button-radius);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: var(--button-padding);
    }

    & > :nth-child(3){
        border-radius: 0;
        padding: var(--button-padding);
    }

    & > :nth-child(5){
        border-top-right-radius: var(--button-radius);
        border-bottom-right-radius: var(--button-radius);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: var(--button-padding);
    }
}



#stuff{
    /* border: 1px solid yellow;  */
    /* width: max(calc(70vw - 50px), 450px); */
    width: 90vw;
    height: fit-content;
    
    /* margin-bottom: 2rem; */
    
    & > .buttons{
        /* border: 1px solid rgb(51, 255, 0); */
        & > button{
            /* border: 1px solid rgb(255, 0, 0); */
            font-size: 1rem;
            height: 3rem;
            padding: 15px;
            justify-content: center;
            text-align: center;
        }

        width: 100%;
        height: fit-content;
        justify-content: left;
        display: flex;

        --button-border-radius: 10px;

        & > :nth-child(1){
            border-top-left-radius: var(--button-border-radius);
            border-bottom-left-radius: var(--button-border-radius);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        & > :nth-child(3){
            border-radius: 0;
        }

        & > :nth-child(5){
            border-top-right-radius: var(--button-border-radius);
            border-bottom-right-radius: var(--button-border-radius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        
    }

}


.title{
    font-size: var(--title-font-size);
    font-weight: 500;
    text-align: center;
    padding-left: 20px;
}

#content{

    /* border: 1px violet solid; */
    
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

    height: 65dvh;
       
}



.image-row{
    display: flex;
    justify-content: center;        

    align-items: center;

    height: fit-content;
    width: 100%;

    /* border-radius: 10px; */
    
    overflow: hidden;

    margin-bottom: 2rem;

    & > *:nth-last-child(1){
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    & > *:nth-child(1){
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    /* border: 1px rgb(255, 0, 0) solid; */
    
    /* overflow-y: hidden; */
}


.image-item{
    height: 50dvh;
    max-width: 100%;
    min-width: calc(100% / 5);

    overflow: hidden;
    position: relative;
    
    flex: 1 1 calc(100% / 5);

    display: flex;
    align-items: center;
    justify-content: center;

    /* filter: drop-shadow(0 0 5px rgba(33, 24, 0, 0.674)); */

    & > img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }

    & > .links{
        display: none;
        position: absolute;
        
        & > *{
            width: 1rem;
            height: 1rem;
        }
    }

    
    
    & > .overlay{
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        background-image: linear-gradient(#0000007a, #000000d7);
        transition: opacity .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        
    }

    

    

    & > .underlay{
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        & > i{
            position: absolute;
            animation: rotate infinite linear 1s;
        }
    }
}


@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.image-item:hover > .links,
.image-item:hover > .overlay,
.links:hover > .overlay{
    opacity: 100%;
    display: block;
    
}

.links{
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid lime; */
    padding-bottom: 10px;

    text-align: center;
    text-decoration: none;
    color: white;

    & > a{
        /* border: 1px solid white; */
        text-decoration: none;
        color: white;
    }    
    
}


